<h1>MnR Team Checklist</h1>

<p>Today is <%= Time.now.strftime("%m/%d/%Y") %></p>

<% if current_user&.admin? %>
  <% if @sprints.count == 0 %>
    <%= link_to 'New sprint', new_sprint_path %>
  <% end %>

  <%= link_to 'Tasks', tasks_path %><br>
  <%= link_to 'New team', new_team_path %><br>
<% end %>

<p></p>

<%= render 'team_list' %>
