<h1>MnR Team Checklist</h1>
<% if current_user&.admin? %>
  <p>
    Today is <%= Time.now.strftime("%m/%d/%Y") %>
    <br>
    <% if @sprints.count > 0 %>
      <% @sprints.each do |sprint| %>
        <%= link_to sprint.name, sprints_path %> <br>
      <% end %>
    <% else %>
      <%= link_to 'New sprint', new_sprint_path %>
    <% end %>
  </p>

  <%= link_to 'New team', new_team_path %><br>
  <%= link_to 'Tasks', tasks_path %><br>
<% else %>
  <p>
    Today is <%= Time.now.strftime("%m/%d/%Y") %>
    <br>
    <% if @sprints.count > 0 %>
      <% @sprints.each do |sprint| %>
        <%= sprint.name %> <br>
      <% end %>
    <% end %>
  </p><% end %>

<p></p>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Score</th>
    <% @tasks.each do |task| %>
      <th class="taskHeader"><%= task.name %></th>
    <% end %>
  </tr>

  <%= render 'team_list' %>
</table>