<h1>Team</h1>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
  <br>

  <strong>Team Score:</strong>
  <%= @team.score %>
</p>

<%= will_paginate @allsprints %>

<% if @allsprints.count > 0 %>
  <% @allsprints.each do |sprint| %>
    <p>
      <strong>Sprint:</strong> <%= sprint.name %><br>
      <% status = @statuses.detect { |i|  i.sprint_id == sprint.id } %>
      <% status ||= Status.new_status(@team, sprint) %>

      <% case status.name %>
      <% when 'Green' %>
      <div class="bg-success">
      <% when 'Yellow' %>
        <div class="bg-warning">
      <% when 'Red' %>
        <div class="bg-danger">
      <% else %>
        <div>
      <% end %>
      <strong>Status:</strong><%= status.name %></div>

      <table class="taskList">
        <% @tasks.each do |task| %>
          <tr>
            <td class="taskName"><strong><%= task.name %></strong></td>
              <% @taskstatuses = TaskStatus.task_status(@team, sprint, task) %>
              <% if @taskstatuses.count > 0 %>
                <% @taskstatuses.each do |taskstatus| %>
                  <td>
                    <%= taskstatus.status %>
                  </td>
                  <td>
                    <%= format_time taskstatus.updated_at, "UTC" %>
                  </td>
                <% end %>
              <% else %>
                <% @taskstatus = TaskStatus.new_task_status(@team, sprint, task) %>
                <td>
                  <%= @taskstatus.status %>
                </td>
          <% end %>

          </tr>
        <% end %>
      </table>
    </p>
  <% end %>
<% end %>

<%= will_paginate @allsprints %>

<p></p>
<%= link_to 'Back', teams_path %>